<header>
    <a href="/">Car Service App</a>
    <nav>
        <a href="/service">service</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/book now">book now</a>
    </nav>
</header>